.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._默认样式 {
}
.box_2 {
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.shape {
}
.image {
  color:#000000;
}
._形状 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
.icon {
}
.image1 {
}
